.about-container {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 2rem;
}

.about-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.about-description {
  line-height: 1.8;
  text-align: justify;
  font-family: cursive;
  /* color: white; */
}
