.skills-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: start;
  margin-top: 1rem;
  margin-left: 3.3vmin;
}

.skill-card {
  border:1px dashed rgb(220, 255, 139);
  color: rgb(139, 255, 230);


  border-radius: 10px;
  padding: 1.2rem 1.5rem;
  width: 250px;
  transition: transform 0.3s ease;
  /* box-shadow: 0px 0px 7px rgb(13, 247, 251); */
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 7px rgb(220, 255, 139);

}

.skill-card h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: rgb(139, 143, 255);
}

.skill-card p {
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(139, 143, 255);
}

@media (max-width: 750px) {
  .skills-cards-container {
    justify-content: center;
  }
}
