.contact {
  height: 100vh;
  background-color: black;
  color: cyan;
  overflow: hidden;
}

.contacth1 {
  font-size: 2.2rem;
  font-weight: 700;
  text-align: center;
  color: white;
  margin: 20px;
}

.contact-header-content {
  margin-top: 70px;
}
.contact-header-content h1 {
  text-align: center;
  font-size: 5.3vmin;
  color: white;
  animation: fadeIn2 1s linear;
}
.contact-header-content p {
  text-align: center;
  font-size: 3.3vmin;
  padding: 10px 0;
  animation: fadeIn2 1s linear;
  color: white;
}
.contact-imgs {
  height: 120px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-evenly;
  animation: fadeIn 1s linear;
}
.contact-img-contents {
  width: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  gap: 1px;
}
.contact-img-contents p {
  padding: 10px;
}
.contact-icons {
  font-size: 30px;
  color: cyan;
}
.contact-email {
  height: 280px;
}
.contact-email-input {
  /* background-color: rgb(36, 32, 32); */
  /* box-shadow: 0px 0px 10px white, -0px -0px 10px red; */
  border:1px dashed rgb(220, 255, 139);;

  border-radius: 10px;
  height: inherit;
  display: flex;
  flex-direction: column;
  width: 70vmin;
  margin: auto;
  padding: 10px;
  animation: fadeIn2 1s linear;
}
.contact-email-input input {
  width: 80%;
  margin: auto;
  padding: 10px;
  border-radius: 10px;
  border:1px dashed rgb(220, 255, 139);;
  background: none;
  color: white;
}
.contact-email-input button {
  width: 80%;
  margin: auto;
  padding: 13px;
  border-radius: 7px;
  background: none;
  background-color: blue;
  outline: none;
  border: none;
  color: cyan;
}
.contact-email-input textarea {
  resize: none;
  height: 120px;
  width: 80%;
  margin: auto;
  border-radius: 7px;
  border:1px dashed rgb(220, 255, 139);;
  padding: 10px;
  background: none;
  color: cyan;
}

input {
  outline: none;
}
@media (max-width: 750px) {
  .contact {
    height: 100%;
  }
  .contacth1 {
    margin: 0px;
    padding: 10px 0;
    text-align: center;
  }
  .contact-header-content {
    margin: 15px;
    padding: 0;
  }
  .contact-imgs {
    flex-wrap: wrap;
    padding: 0;
    height: 0px;
  }
  .contact-img-contents {
    font-size: 3vmin;
    width: 50px;
    margin: -10px 0;
  }
  .contact-email-input {
    width: 90vmin;
  }
 
}