.skills-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: start;
  margin-top: 1rem;

}

.skill-card {


  border-radius: 10px;
  padding: 1.2rem 1.5rem;
  width: 250px;
  transition: transform 0.3s ease;
  box-shadow: 10px 10px 20px #bcbcbc, -10px -10px 20px rgb(238, 233, 233);
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 20px #bcbcbc, -10px -10px 20px rgb(238, 233, 233);

}

.skill-card h4 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.skill-card p {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 750px) {
  .skills-cards-container {
    justify-content: center;
    width: 100%;
  }
  .skill-card{
    width: 90vmin;
  }
}
@media (max-width: 1140px) {
  .skills-cards-container {
    justify-content: center;
  }
}

