.header-home {
  overflow: hidden;
}
.header-card-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  animation: fadeIn 1s linear;
}
.header-card-img img {
  height: 200px;
  border-radius: 40%;
}

.shivam-pic {
  display: flex;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  border-radius: 10px;
  text-transform: capitalize;
}
.shivam-pic img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.shivam-pic p {
  margin-top: 20px;
}

.header-paragraph {
  line-height: 1.8;
  text-align: justify;
  padding-right: 10px;
}

@media (max-width: 750px) {
  .header-card {
    flex-wrap: wrap;
    height: 230px;
    overflow: scroll;
  }

  /* .shivam-pic {
    width: 90vmin;
  } */
  .shivam-pic h4 {
    font-size: 20px;
    padding: 10px;
  }
  .shivam-pic img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  .header-paragraph{
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-120px);
  }
}
@keyframes fadeIn2 {
  from {
    opacity: 0;
    transform: translatex(-120px);
  }
}
