.navbar {
  width: 100%;
  height: 100vmin;
  display: flex;
}

.navbar-aside {
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 20px #bcbcbc, -10px -10px 20px rgb(238, 233, 233);

  width: 35vmin;
  height: 100vmin;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: rgba(23, 13, 13, 0.968); */

  .shivam-name {
    /* background: linear-gradient(blue); */
    font-size: 4.5vmin;
    background-clip: text;
    color: transparent;
    animation: changecolor 1s linear infinite;
  }
}
.nav-contetnts {
  height: 60vmin;
  display: flex;
  flex-direction: column;
  width: inherit;
  align-items: center;
  gap: 20px;
}
.navlink {
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  transition: 0.3s;
  position: relative;
}

.navlink:hover {
  transform: translatex(5px);
  color: green;
}

.nav-outlet {
  width: 100%;
  height: 100vmin;
  overflow-y: scroll;
}
.ss-nav {
  display: flex;
  gap: 12px;
}

@media (max-width: 750px) {
  .navbar {
    flex-wrap: wrap;
  }
  .navbar-aside {
    width: 100%;
    height: 80px;
    padding-bottom: 40px;
  }
  .navbar-aside h1 {
    display: none;
  }
  .nav-outlet {
    height: 100vh;
  }
  .nav-contetnts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
  }
  .navlink {
    font-size: 15px;
  }
}

@keyframes changecolor {
  0% {
    background: linear-gradient(to right, red, green, blue);
    background-clip: text;
    color: transparent;
  }
  20% {
    background: linear-gradient(to right, green, blue, red);
    background-clip: text;
    color: transparent;
  }
  40% {
    background: linear-gradient(to right, blue, red, green);
    background-clip: text;
    color: transparent;
  }
  60% {
    background: linear-gradient(to right, red, blue, green);
    background-clip: text;
    color: transparent;
  }
  80% {
    background: linear-gradient(to right, green, red, blue);
    background-clip: text;
    color: transparent;
  }
  100% {
    background: linear-gradient(to left, red, green, blue);
    background-clip: text;
    color: transparent;
  }
}
