.progresh-card {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 25px;
}
.progress-bar-card {
  width: 360px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 10px 10px 20px #bcbcbc, -10px -10px 20px rgb(238, 233, 233);
  transition: 0.3s;
}
progress {
  width: 98%;
  margin: 0 5px;
  
}
.sole {
  height: 35px;
  width: 100%;
  margin: 10px 0;
}

.ssbv{
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.progress-dts {
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
}

.progress-bar-card:hover {
  transform: scale(1.1);
}
@media (max-width: 750px) {
  .progress-bar-card {
    width: 90vmin;
    margin: 0px -16px;
  }
}
@media (max-width: 1080px) {
  .progresh-card {
    justify-content: center;
  }
}

@media (max-width: 1380px) {
  .progresh-card {
    justify-content: center;
  }
}

