.service{
    /* background-color: rgb(0, 0, 0); */
    height: 100%;
    width: 100%;
    overflow-y: scroll;

}
.service h1{
    padding:6px;
    /* color: rgb(220, 255, 139);; */
    text-align: center;
    margin-top: 10px;
    font-size: 4.3vmin;
    font-family: 'Segoe UI', sans-serif;

}
.service .card-h1{
    /* color: rgb(220, 255, 139); */
    font-size: 3.3vmin;
    padding: 10px;

}
.service-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    margin-top: 30px;
    
}

::-webkit-scrollbar{
    display: none;
}